.wrapper-filme {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 25px;
    padding: 10px;

    background-color: cornsilk;
}

.wrapper-filme img{
    height: auto;
    width: 200px;
    place-self: center;
}

h3, a {
    color: black;
}